{% extends "ProyectoWebApp/Base.html" %}

{% load static %}

{% block content %}

    {% for servis in servicios %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servis.imagen.url}}" alt="foto" style="width: 50%;" >
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower">{{servis.titulo}}</span>
                <span class="section-heading-upper">{{servis.contenido}}</span>
              </h2>
              <p class="mb-3">En la puertra de tu casa en menos de 48 h con el envío normal. En menos de 24 h con el envío express.
              </p>
             
            </div>
          </div>
        </div>
      </section>

<!--<div style="margin: 15px;" ><p>
    <h2 style="color: white;" >{{servicio.titulo}}</h2>
    <p style="color: white;" >{{servicio.contenido}}</p>
    <p><img src="{{servicio.imagen.url}}" height="200", width="240" ></p>

</p></div>-->

    {% endfor %}

{% endblock %}